/* Bootstrap EveSynapse Extensions and Overrides */
/* Version 'Lite' */

@font-face { 
    font-family: 'Myriad Web Pro'; src: url('https://evesynapse.com/static/webfonts/MyriadWebPro.ttf');
    font-family: 'Myriad Pro'; src: url('https://evesynapse.com/static/webfonts/MyriadPro.ttf');
}

.span8 {
    width: 680px;
}

body {
    background:#000 url("https://evesynapse.com/media/bg.jpg") no-repeat 50% 0;
    font-size: 13px;
    font-family: "Myriad Web Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #c6c6c6;
}

label, input, button, select, textarea {
    font-size: 13px;
}

.nav-list {
    padding-left: 0px;
}

.content1 {
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-top: 0px;
    border-left: 4px solid #dddddd;
    border-right: 4px solid #dddddd;
    border-bottom: 4px solid #dddddd;
}

.content2 {
    min-height: 20px;
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.navbar .nav > li > a {
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;
}

.navbar-inverse .navbar-inner {
    background-image: -moz-linear-gradient(top, rgba(56, 56, 56, 0.6),, to rgba(22, 22, 22, 0.6));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from rgba(56, 56, 56, 0.6),, to rgba(22, 22, 22, 0.6));
    background-image: -webkit-linear-gradient(top, rgba(56, 56, 56, 0.5), rgba(22, 22, 22, 0.5));
    background-image: -o-linear-gradient(top, rgba(56, 56, 56, 0.6), rgba(22, 22, 22, 0.6));
    background-image: linear-gradient(to bottom, rgba(56, 56, 56, 0.6), rgba(22, 22, 22, 0.6));
    background-repeat: repeat-x;
    border-color: rgba(56, 56, 56, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff161616', GradientType=0);
}

.navbar-inverse .brand-img {
    float: left;
    background-color: transparent;
    background-image: url('https://evesynapse.com/media/brand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 118px 15px;
    height: 40px;
    width: 118px;
}

.navbar-inverse .brand {
    font-family: Myriad Pro, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #e5e5e5;
    text-shadow: 0 -1px 0 #333333;
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
            transition: all .2s linear;
}

.navbar-inverse .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 25px rgba(255,255,255,.4);
}

.navbar {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #1b1b1b;
}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: rgba(22,22,22,0.7);
    border-bottom-color: rgba(22,22,22,0.7);
}

.navbar-inverse .divider-vertical {
    border-right-color: transparent;
    border-left-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: rgba(22,22,22,.7);
    background-image: -moz-linear-gradient(top, rgba(22, 22, 22, 0.7),, to rgba(0, 0, 0, 0.7));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from rgba(22, 22, 22, 0.7),, to rgba(0, 0, 0, 0.7));
    background-image: -webkit-linear-gradient(top, rgba(22, 22, 22, 0.7), rgba(0, 0, 0, 0.7));
    background-image: -o-linear-gradient(top, rgba(22, 22, 22, 0.7), rgba(0, 0, 0, 0.7));
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff161616', GradientType=0);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #999999;
    white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #000000, #1b1b1b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#1b1b1b));
    background-image: -webkit-linear-gradient(top, #000000, #1b1b1b);
    background-image: -o-linear-gradient(top, #000000, #1b1b1b);
    background-image: linear-gradient(to bottom, #000000, #1b1b1b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff1b1b1b', GradientType=0);
    -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #000000, #1b1b1b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#1b1b1b));
    background-image: -webkit-linear-gradient(top, #000000, #1b1b1b);
    background-image: -o-linear-gradient(top, #000000, #1b1b1b);
    background-image: linear-gradient(to bottom, #000000, #1b1b1b);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff1b1b1b', GradientType=0);
}

.navbar .nav > li > .dropdown-menu::before {
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgb(40,40,40);
    border-left: 7px solid transparent;
}

.navbar .nav > li > .dropdown-menu::after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(40,40,40);
    border-left: 6px solid transparent;
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.table-bordered {
    border: 1px solid #cccccc;
    border-bottom: 1px;
}

tbody tr {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    background: #eeeeee;
}

thead {
    display: table-header-group;
    background-size: 100%;
    border-bottom: 1px solid #cccccc;
    text-shadow: 0 1px 0 #f5f5f5;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -moz-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -o-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: linear-gradient(#e5e5e5,#dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
    color: #444444;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
}

.table-bordered th, .table-bordered td {
    border-left: 0px solid #cccccc;
}

.table th, .table td {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}

.esmodule {
    clear: both;
    padding: 0;
    width: auto;
    border: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    background: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}   

.esmodule .esmodule-header {
    padding: 5px 10px 4px;
    text-shadow: 0 1px 0 #f5f5f5;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: px;
    border-top: 1px solid #f0f0f0;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #dbdbdb));
    background-image: -webkit-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -moz-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -o-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: linear-gradient(#e5e5e5,#dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
    font-weight: 700;
    color: #444;
}

.esmodule-row {
    clear: both;
    padding: 5px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc
}

.esmodule-nav {
    min-width: 220px;
    max-width: 320px;
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
    display: block;
    float: left;
}

.esmodule-row:hover {
    background-color: #f5f5f5;
}

.hero-unit {
    margin-bottom: 0px;
    letter-spacing: 0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background-color: rgba(32, 32, 32, 0.9);
}

.hero-unit h1 {
    font-family: "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    color: #326b8c;
}
    
.navbar-inverse .nav > li > a:hover {
    background-color: #000;
    color: #ffffff;
}

hr {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #ffffff;
}

.icon-faded {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 0px 1px 1px #000;
    font-weight: normal;
}

h3 {
    font-size: 24px;
}

h1, h2, h3 {
    line-height: 20px;
}

legend {
    font-family: "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 20px;
    border-bottom: 0px solid;
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #e5e5e5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.page-header {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #202020;
    border-bottom: 0px solid #ffffff;
    line-height: 10px !important;
    box-shadow: 0px 0px 0 0 #ccc;
    -webkit-box-shadow: 0px 0px 0 0 #ccc;
    -moz-box-shadow: 0px 0px 0 0 #ccc;
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.content-center {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

.side-nav-container {
    padding-top: 15px;
    padding-right: 15px;
    margin-right: 0px;
    margin-top: -15px;
    border-right: 0px solid #ccc;
    float: left;
}

.close {
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: #f1f1f1;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
}

.footer {
    text-align: center;
    border-top: 0;
    background-color: #202020;
    padding: 20px 0;
    position: relative;
	margin-top: -131px; /* negative value of footer height */
	height: 90px;
	clear:both;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

html, body {height: 100%;}

.wrap {min-height: 100%;}

.main {overflow:auto;
    margin-bottom: 20px;
	padding-bottom: 131px;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.version-info > ul {
    list-style: none;
}

.version-info > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.version-info > ul > li:after {
    content: "\b7";
    margin-left: 10px;
    speak: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #fff;
    background-color: rgb(25, 51, 66);
}

.btn-primary {
    background-color: rgb(30, 63, 82);
    background-image: -moz-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: -webkit-gradient(linear,0 0,0 100%, from(rgb(50, 107, 140)), to(rgb(25, 51, 66)));
    background-image: -webkit-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: -o-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: linear-gradient(to bottom, rgb(50, 107, 140), rgb(25, 51, 66));
    background-repeat: repeat-x;
    border-color: rgb(50, 107, 140) rgb(50, 107, 140) rgb(25, 51, 66));
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}