/* Bootstrap.eveSynapse Extensions */

body {
    background: #000 url("http://media.evesynapse.com/bg.jpg") no-repeat 50% 0;min-width:1100px;
    font-size: 13px;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

label, input, button, select, textarea {
    font-size: 13px;
}

.span12 {
    width: 920px;
}

.nav-list {
    padding-left: 0px;
}

.content1 {
    background-color: #ffffff;
    background-color: rgba(250,250,250,.92);
    background-repeat: repeat-x;
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: #cccccc;
    border: 6px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a {
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;
}

.navbar-inverse .navbar-inner {
    background-color: rgba(27,27,27,0.80);
    background-image: -moz-linear-gradient(top, rgba(56, 56, 56, 0.6),, to rgba(22, 22, 22, 0.6));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from rgba(56, 56, 56, 0.6),, to rgba(22, 22, 22, 0.6));
    background-image: -webkit-linear-gradient(top, rgba(56, 56, 56, 0.6), rgba(22, 22, 22, 0.6));
    background-image: -o-linear-gradient(top, rgba(56, 56, 56, 0.6), rgba(22, 22, 22, 0.6));
    background-image: linear-gradient(to bottom, rgba(56, 56, 56, 0.6), rgba(22, 22, 22, 0.6));
    background-repeat: repeat-x;
    border-color: rgba(56, 56, 56, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff161616', GradientType=0);
}

.navbar-inverse .brand-img {
    float: left;
    background-color: transparent;
    background-image: url('http://media.evesynapse.com/brand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 20px;
    height: 40px;
    width: 100px;
}

.navbar-inverse .brand {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: #e5e5e5;
    text-shadow: 1px 1px 10px rgba(5,5,5,.95), 0 0 30px rgba(0,0,0,.15);
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
            transition: all .2s linear;
}

.navbar-inverse .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.navbar {
    font-size: 13px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.7);
       -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.7);
            box-shadow: 0 1px 0px rgba(0, 0, 0, 0.7);
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: rgba(22,22,22,0.7);
  border-bottom-color: rgba(22,22,22,0.7);
}

.navbar-inverse .divider-vertical {
    border-right-color: rgba(56, 56, 56, 0.80);
    border-left-color: rgba(22, 22, 22, 0.80);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: rgba(22,22,22,.7);
    background-image: -moz-linear-gradient(top, rgba(22, 22, 22, 0.7),, to rgba(0, 0, 0, 0.7));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from rgba(22, 22, 22, 0.7),, to rgba(0, 0, 0, 0.7));
    background-image: -webkit-linear-gradient(top, rgba(22, 22, 22, 0.7), rgba(0, 0, 0, 0.7));
    background-image: -o-linear-gradient(top, rgba(22, 22, 22, 0.7), rgba(0, 0, 0, 0.7));
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff383838', endColorstr='#ff161616', GradientType=0);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #999999;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #000000, #1b1b1b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#1b1b1b));
  background-image: -webkit-linear-gradient(top, #000000, #1b1b1b);
  background-image: -o-linear-gradient(top, #000000, #1b1b1b);
  background-image: linear-gradient(to bottom, #000000, #1b1b1b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff1b1b1b', GradientType=0);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #000000, #1b1b1b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#1b1b1b));
  background-image: -webkit-linear-gradient(top, #000000, #1b1b1b);
  background-image: -o-linear-gradient(top, #000000, #1b1b1b);
  background-image: linear-gradient(to bottom, #000000, #1b1b1b);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff1b1b1b', GradientType=0);
}

.navbar .nav > li > .dropdown-menu::before {
border-right: 7px solid transparent;
border-bottom: 7px solid rgba(22,22,22,0.7);
border-left: 7px solid transparent;
}

.navbar .nav > li > .dropdown-menu::after {
border-right: 6px solid transparent;
border-bottom: 6px solid rgba(22,22,22,0.7);
border-left: 6px solid transparent;
}

.nav-pills .dropdown-menu {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.table-bordered {
    border: 1px solid #cccccc;
    border-bottom: 1px;
}

tbody tr {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dddddd;
    background: #eeeeee;
}

thead {
    display: table-header-group;
    background-size: 100%;
    border-bottom: 1px solid #cccccc;
    text-shadow: 0 1px 0 #f5f5f5;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -moz-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -o-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: linear-gradient(#e5e5e5,#dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
    color: #444444;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
}

.table-bordered th, .table-bordered td {
    border-left: 0px solid #cccccc;
}

.table th, .table td {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
}

.esmodule {
    clear: both;
    padding: 0;
    min-width: 220px;
    max-width: 320px;
    width: auto;
    border: 1px solid #ccc;
    background: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}   

.esmodule .esmodule-header {
    padding: 5px 10px 4px;
    text-shadow: 0 1px 0 #f5f5f5;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 3px;
    border-top: 1px solid #f0f0f0;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #dbdbdb));
    background-image: -webkit-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -moz-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -o-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: linear-gradient(#e5e5e5,#dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
    font-weight: 700;
    color: #444;
}

.esmodule-row {
    clear: both;
    padding: 5px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc
}

.esmodule-nav {
    box-shadow: 2px 2px 10px 0 #ccc;
    -webkit-box-shadow: 2px 2px 10px 0 #ccc;
    -moz-box-shadow: 2px 2px 10px 0 #ccc;
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
    display: block;
}

.esmodule-row:hover {
    background-color: #f5f5f5;
}

.esmodule-dark {
    clear: both;
    padding: 0;
    min-width: 220px;
    max-width: 320px;
    width: auto;
    border-top: 1px solid #1e1e1e;
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
    background: #2d2d2d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}   

.esmodule-dark .esmodule-header-dark {
    padding: 5px 10px 4px;
    text-shadow: 0 1px 0 #000;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #1c1c1c;
    border-top: 1px solid #676767;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #1e1e1e));
    background-image: -webkit-linear-gradient(#3f3f3f,#1e1e1e);
    background-image: -moz-linear-gradient(#3f3f3f,#1e1e1e);
    background-image: -o-linear-gradient(#3f3f3f,#1e1e1e);
    background-image: linear-gradient(#3f3f3f,#1e1e1e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3f', endColorstr='#ff1e1e1e', GradientType=0);
    font-weight: 700;
    color: #e5e5e5;
}

.esmodule-row-dark {
    clear: both;
    padding: 5px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #1c1c1c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.esmodule-nav-dark {
    box-shadow: 2px 2px 10px 0 #4c4c4c;
    -webkit-box-shadow: 2px 2px 10px 0 #4c4c4c;
    -moz-box-shadow: 2px 2px 10px 0 #4c4c4c;
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.esmodule-row-dark:hover {
    background-color: #1c1c1c;
}

.esmodule-dark .esmodule-row-dark > a {
    color: #999999;
}

.esmodule-dark .esmodule-row-dark > a:hover {
    color: #fff;
}

.hero-unit {
    background-color: inherit;
    margin-bottom: 0px;
    font-family: "Lucida Sans", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

.hero-unit h1 {
    font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}
    
.navbar-inverse .nav > li > a:hover {
    background-color: #1b1b1b;
    color: #ffffff;
}

hr {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #ffffff;
}

.icon-faded {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 0px 1px 1px #ffffff;
}

h3 {
    font-size: 24px;
}

h1, h2, h3 {
    line-height: 20px;
}

legend {
    font-family: "Ubuntu", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 20px;
    border-bottom: 0px solid;
    font-weight: bold;
}