/* Bootstrap EveSynapse Extensions and Overrides */
/* Version 'Comp 0.2' */

@font-face { 
    font-family: 'Myriad Web Pro'; src: url('http://static.evesynapse.com/style/font/MyriadWebPro.ttf');
    font-family: 'Myriad Pro'; src: url('http://static.evesynapse.com/style/font/MyriadPro.otf');
}

body {
    background: #000 url("http://media.evesynapse.com/bg.jpg") no-repeat 50% 0;min-width:1100px;
    color: #c6c6c6;
    font-size: 14px;
    font-family: "Myriad Web Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

a {
    color: #326b8c;
    text-decoration: none;
}

label, input, button, select, textarea {
    font-size: 14px;
}

small > i {
    font-size: 12px;
}

.container {
    width: 980px;
}

.page-wrap {
    min-height: 100%;
}

.hero-unit h1 {
    font-family: "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 0px -2px rgba(0,0,0,.425), 0px 2px rgba(255,255,255,.05);
}

.main {
    overflow:auto;
    margin-bottom: 20px;
    padding: 20px 20px 130px 20px;
    background-color: #ffffff;
    max-width: 940px;
}

.content {
    background-color: #202020;
    padding: 20px;
}

.footer {
    text-align: center;
    border-top: 0px;
    background-color: rgb(10, 10, 10);
    box-shadow: rgba(255, 255, 255, 0.0) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    padding: 20px 0 20px 0;
    position: relative;
	height: 90px;
    color: #444;
    text-shadow: 1px -1px 0px #000;
}

.navbar-centered {
    margin-left:auto;
    margin-right:auto;
}

.navbar-es {
    margin-top: 5px;
}

.navbar-es .navbar-inner {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
       -moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
            box-shadow: 0 0px 0px rgba(0,0,0,0);
    background-color: #1c1c1c;
    background-image: -moz-linear-gradient(top, #1c1c1c, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1c1c1c), to(#000000));
    background-image: -webkit-linear-gradient(top, #1c1c1c, #000000);
    background-image: -o-linear-gradient(top, #1c1c1c, #000000);
    background-image: linear-gradient(to bottom, #1c1c1c, #000000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c1c1c', endColorstr='#ff000000', GradientType=0);
    border-width: 1px 0 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-color: #111;
    border-bottom-color: #333;
}

.navbar-es .brand-img {
    float: left;
    background-color: transparent;
    background-image: url('http://static.evesynapse.com/style/img/brand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 118px 16px;
    height: 40px;
    width: 118px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .navbar-es .brand-img {
        background-image: url('http://static.evesynapse.com/style/img/brand2x.png');
    }
}

.version-info > ul {
    list-style: none;
}

.version-info > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.version-info > ul > li:after {
    content: "\b7";
    margin-left: 10px;
    speak: none;
}

.version-info > ul > li:last-child:after {
    display: none;
}

.nav-side {
    margin:0px;
}

.main-border {
    background-color: rgba(0,0,0,0.30);
    padding: 0px 5px 0px 5px;
}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: rgba(22,22,22,0.7);
    border-bottom-color: rgba(22,22,22,0.7);
}

.navbar .divider-vertical {
    border-right-color: #1c1c1c;
    border-left-color: #000000;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #1c1c1c;
    background-image: -moz-linear-gradient(top, #1c1c1c, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1c1c1c), to(#000000));
    background-image: -webkit-linear-gradient(top, #1c1c1c, #000000);
    background-image: -o-linear-gradient(top, #1c1c1c, #000000);
    background-image: linear-gradient(to bottom, #1c1c1c, #000000);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c1c1c', endColorstr='#ff000000', GradientType=0);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #999999;
    white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(50, 107, 140);
    background-image: -moz-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: -webkit-gradient(linear,0 0,0 100%, from(rgb(50, 107, 140)), to(rgb(25, 51, 66)));
    background-image: -webkit-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: -o-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: linear-gradient(to bottom, rgb(50, 107, 140), rgb(25, 51, 66));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff193342', endColorstr='#ff326b8c', GradientType=0);
    -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(50, 107, 140);
    background-image: -moz-linear-gradient(top, rgb(25, 51, 66), rgb(50, 107, 140));
    background-image: -webkit-gradient(linear,0 0,0 100%, from(rgb(25, 51, 66)), to(rgb(50, 107, 140)));
    background-image: -webkit-linear-gradient(top, rgb(25, 51, 66), rgb(50, 107, 140));
    background-image: -o-linear-gradient(top, rgb(25, 51, 66), rgb(50, 107, 140));
    background-image: linear-gradient(to bottom, rgb(25, 51, 66), rgb(50, 107, 140));
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff326b8c', endColorstr='#ff193342', GradientType=0);
}

.navbar .nav > li > .dropdown-menu::before {
    border-right: 7px solid transparent;
    border-bottom: 7px solid #1c1c1c;
    border-left: 7px solid transparent;
}

.navbar .nav > li > .dropdown-menu::after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid #1c1c1c;
    border-left: 6px solid transparent;
}

.navbar .nav>li>a {
    color: #999;
    text-shadow: 0 1px 0 #000;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: #f0f0f0;
    background-color: #000;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: #000;
    color: #f0f0f0;
}

i {
    font-size:14px;
}

.nav-right {
    float: right;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.navbar .nav li.dropdown>a:hover .caret {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #f0f0f0;
    text-decoration: none;
    background-color: rgb(50, 107, 140);
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.425), inset 0 -3px 8px rgba(0,0,0,0.425), inset 0 -1px 0px rgba(0,0,0,0.425);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.425), inset 0 -3px 8px rgba(0,0,0,0.425), inset 0 -1px 0px rgba(0,0,0,0.425);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.425), inset 0 -3px 8px rgba(0,0,0,0.425), inset 0 -1px 0px rgba(0,0,0,0.425);
    text-shadow: 1px -1px 0 rgba(0,0,0,0.425);
}

.hero-unit {
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    margin-bottom: 0px;
    color: #999;
    background-color: #111;
}

.hero-unit > p {
    text-shadow: 1px 1px #000;
}

.hero-unit > h1 {
    color: #326b8c;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px -1px 0px #000;
    color: #c6c6c6;
    font-family: 'Myriad Web Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: normal;
}

.btn-primary {
    background-color: rgb(30, 63, 82);
    background-image: -moz-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: -webkit-gradient(linear,0 0,0 100%, from(rgb(50, 107, 140)), to(rgb(25, 51, 66)));
    background-image: -webkit-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: -o-linear-gradient(top, rgb(50, 107, 140), rgb(25, 51, 66));
    background-image: linear-gradient(to bottom, rgb(50, 107, 140), rgb(25, 51, 66));
    background-repeat: repeat-x;
    border-color: rgb(50, 107, 140) rgb(50, 107, 140) rgb(25, 51, 66));
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff193342', endColorstr='#ff326b8c', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: #fff;
    background-color: rgb(25, 51, 66);
}

.header-container {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.table-bordered {
    border: 1px solid #090909;
    border-bottom: 1px;
}

tbody tr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #000;
    background: #181818;
}

thead {
    display: table-header-group;
    background-size: 100%;
    background-color: #101010;
    text-shadow: 1px -1px 0 #000;
    color: #326b8c;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #181d1f;
}

.table-bordered th, .table-bordered td {
    border-left: 0px solid #090909;
}

.table th, .table td {
    border-top: 1px solid #222;
    border-bottom: 1px solid #101010;
    vertical-align: middle;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: #151515;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #181d1f;
}

.esmodule {
    clear: both;
    padding: 0;
    width: auto;
    border: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    background: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}   

.esmodule .esmodule-header {
    padding: 5px 10px 4px;
    text-shadow: 0 1px 0 #f5f5f5;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: px;
    border-top: 1px solid #f0f0f0;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #dbdbdb));
    background-image: -webkit-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -moz-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: -o-linear-gradient(#e5e5e5,#dbdbdb);
    background-image: linear-gradient(#e5e5e5,#dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffdbdbdb', GradientType=0);
    font-weight: 700;
    color: #444;
}

.esmodule-row {
    clear: both;
    padding: 5px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc
}

.esmodule-nav {
    min-width: 220px;
    max-width: 320px;
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
    display: block;
    float: left;
}

.esmodule-row:hover {
    background-color: #f5f5f5;
}

.icon-faded {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

h3 {
    font-size: 24px;
}

h1, h2, h3 {
    line-height: 20px;
}

legend {
    font-family: "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    line-height: 20px;
    border-bottom: 0px solid;
    font-weight: normal;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: rgba(255,255,255,.9);
    text-shadow: 0 1px 0 #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.alert {
    box-shadow: rgba(0, 0, 0, 0.425) 0 1px 0px 0px, rgba(255, 255, 255, 0.1) 0 1px 0px 0px inset;
}

.label {
    color: #eeeeee;
}

.label,
.alert {
    background-color: #666666;
}

.label:hover {
    background-color: #4d4d4d;
}

.label-important,
.alert-danger,
.alert-error {
    background-color: rgb(140,50,107);
}

.label-important:hover {
    background-color: rgb(140,50,107);
}

.label-warning {
    background-color: rgb(140,50,107);
}

.label-warning:hover {
    background-color: rgb(140,50,107);
}

.label-success,
.alert-success {
    background-color: rgb(50,140,83);
}

.label-success:hover {
    background-color: rgb(50,140,83);
}

.label-info,
.alert-info {
    background-color: rgb(50, 107, 140);
}

.label-info:hover {
    background-color: rgb(50, 107, 140);
}

.alert,
.alert .alert-heading,
.alert-success,
.alert-success .alert-heading,
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading,
.alert-info,
.alert-info .alert-heading {
    color: #eeeeee;
    text-shadow: 0 1px 0 rgba(0,0,0,0.425);
    border: none;
}

.modal {
    background-color: rgba(0,0,0,.9);
}

.modal-body {
    background-color: rgba(30,30,30,.5);
}

.modal-header {
    border-bottom: 1px solid #202020;
    background-color: rgba(30,30,30,.5);
}

.modal-footer {
    background-color: rgba(10,10,10,.5);
    border-top: 1px solid #101010;
    -webkit-box-shadow: inset 0 1px 0 #202020;
    -moz-box-shadow: inset 0 1px 0 #202020;
    box-shadow: inset 0 1px 0 #202020;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: rgba(50,50,50,.5);
    border: 1px solid #101010;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #999;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
      border-color: rgba(50, 107, 140, 0.9);
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(50, 107, 140, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(50, 107, 140, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(50, 107, 140, 0.6);
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #333;
}

.settings-nav {
    background: #181818;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    padding: 0px;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 0px -1px 0 #303030, 0px 1px 0 #303030;
}

.settings-nav a {
    position: relative;
    font-weight: normal;
    color: #e5e5e5;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(255,255,255,.2), -1px -1px 0 rgba(0,0,0,.8);
}

.settings-nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

.settings-nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.settings-nav > ul > li {
    display: inline-block;
    list-style: none;
    padding: 10px 0 10px 0;
}

.settings-nav > ul > li:before, .settings-nav > ul > li:after {
    display: inline-block;
    content: " ";
    margin-left: 20px;
    speak: none;
}

.settings-nav-active a:before, .settings-nav-active a:after {
    border: 8px solid transparent;
    border-style: outset outset solid outset;
    border-bottom-color: #101010;
    bottom: -13px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -8px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.settings-nav-active a:after {
    background: transparent;
    border-bottom-color: #202020;
    bottom: -14px;
}

.settings-nav-active {
    background-color: #181d1f;
    box-shadow: 0px -2px 2px rgba(255,255,255,.04) inset, 0px 2px 2px rgba(0,0,0,.15) inset;
}

.dropdown-menu [class^="icon-"], .dropdown-menu [class*=" icon-"] {
    margin-right: 5px;
    margin-left: -5px;
    padding-left: 5px;
}

.well {
    background-color: #101010;
    border: 1px solid #252525;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}