<!DOCTYPE html>
<html>
  <body>
    <p>
      Hello {{username}},
      <br />
      welcome to EveSynapse!
      <br />
      To activate your account , please visit this site:
      <a href='http://evesynapse.com/accounts/register/activate/{{activation_key}}/'>
        http://evesynapse.com/accounts/register/activate/{{activation_key}}/
      </a>
      <br />
      This link will expire in 48 hours.
      <br />
      <br />
      EveSynapse Team
    </p>
  </body>
</html>
