<!DOCTYPE html>
<html>
  <body>
    <p>
      Hello {{username}},
      <br />
      it seems like one of your API keys associated with your account on EveSynapse has been invalidated.
      <br />
      Note that we now no longer fetch data with this key. Normally this occurs when your key expires or permissions were changed.
      <br />
      Please check your API keys in the settings section of EveSynapse and on the EVE Online account management pages.
      <br />
      <br />
      Key ID: {{key_id}}
      <br />
      <br />
      Best regards,
      <br />
      EveSynapse Team
    </p>
  </body>
</html>
