<!DOCTYPE html>
<html>
  <body>
    <p>
      Hello {{username}},
      <br />
      your temporary new password is: {{new_password}}
      <br />
      Remember to change it at your first login!
      <br />
      <br />
      EveSynapse Team
    </p>
  </body>
</html>
